<style>
    .item {
      margin: 18px;
      padding: 0px;
      width: 80px;
      height: auto;
      color: #FFFFFF;
    }
    .item:hover {
      cursor: pointer;
    }
    
    .square-frame {
        border: 1px dotted #999;
    }
    .square-content {
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: 80%;
    }

</style>

    <div class="container">
                
        <h2 class="border-bottom pb-2 mb-4">教室 101</h2>
        
        <div class="row">
            <div class="col-md-9">
                <div id="square-frame" class="square-frame">
                    <span class="square-content"></span>
                </div>
            </div>
            <div class="col-md-3 bg-light pt-5 pb-5">
                <a href="#" type="button" class="btn btn-primary btn-block pt-3 pb-3 mb-5" role="button">
                    ぜんぶけす
                </a>
                
                <div class="row align-items-center" id="items">
                    <%= image_tag "light_bl.png", alt: "Light Blue", id: "light_bl", class: "item" %>
                    <%= image_tag "ques_bl.png", alt: "Question Blue", id: "question_bl", class: "item" %>
                    <%= image_tag "light_re.png", alt: "Light Red", id: "light_re", class: "item" %>
                    <%= image_tag "ques_re.png", alt: "Question Red", id: "question_re", class: "item" %>
                    <%= image_tag "light_gr.png", alt: "Light Green", id: "light_gr", class: "item" %>
                    <%= image_tag "ques_gr.png", alt: "Question Green", id: "question_gr", class: "item" %>
                    <%= image_tag "light_ye.png", alt: "Light Yellow", id: "light_ye", class: "item" %>
                    <%= image_tag "ques_ye.png", alt: "Question Yellow", id: "question_ye", class: "item" %>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    room_id = <%= @room.id %>;
    // 移動適用
    $(".item").draggable({});
</script>
